@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Black.ttf") format("truetype");
	font-style: normal; 
	font-weight: 900;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
	font-style: normal; 
	font-weight: 200;
}